<div class="main-inner">
  <a href="/index.html" class="logo">🧮 Kalkulátor Bázis</a>

  <nav id="menu">
    <a href="/kalkulator-bazis/index.html">Főoldal</a>
    <a href="/kalkulator-bazispenzugyi.html">Pénzügyi</a>
    <a href="/kalkulator-bazis/epitoipari.html">Építőipari</a>
    <a href="/kalkulator-bazis/egeszseg.html">Egészség</a>
    <a href="/kalkulator-bazis/mindennapi.html">Mindennapi</a>
    <a href="/kalkulator-bazis/auto.html">Autó</a>
  </nav>

  <button class="menu-toggle" id="menuToggle">☰</button>
</div>