<div class="main-inner">
  <a href="/kalkulator-bazis/calculators/index.html" class="logo">🧮 Kalkulátor Bázis</a>

  <nav id="menu">
    <a href="/kalkulator-bazis/calculators/index.html">Főoldal</a>
    <a href="/kalkulator-bazis/calculators/penzugyi.html">Pénzügyi</a>
    <a href="/kalkulator-bazis/calculators/epitoipari.html">Építőipari</a>
    <a href="/kalkulator-bazis/calculators/egeszseg.html">Egészség</a>
    <a href="/kalkulator-bazis/calculators/mindennapi.html">Mindennapi</a>
    <a href="/kalkulator-bazis/calculators/auto.html">Autó</a>
  </nav>

  <button class="menu-toggle" id="menuToggle">☰</button>
</div>